# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Model files (too large for GitHub)
*.pt
*.pth
*.dat

# Dataset (too large)
dataset/

# Temp files
*.log
*.cache

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

*.pdf
.pptx
# CARLA simulator install (huge binary build, never commit)
CARLA_0.9.16/
CARLA_0.9.16.zip